@charset "utf-8";

body{
     font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
}

/*floatプロパティを解除*/
.clearfix:after {
  clear: both;
  display: block;
  content: '';
}

.heading-box {
    margin: 0 0 60px 0;
}

.heading {
    width: 70px;
    margin: 0 auto;
    font-size: 22px;
}

.about-heading,
.work-heading {
    /*上下ボーダー*/
    padding: 5px 20px 5px 15px;
    border: solid #053c66;
    border-width:2px 0 2px 0;
    color: #053c66;
}

.skill-heading,
.contact-heading {
    /*上下ボーダー*/
    padding: 5px 20px 5px 15px;
    border: solid #fff;
    border-width:2px 0 2px 0;
    color: #fff;
}

#wrapper {
  width: 800px;
  margin-right: auto;
  margin-left : auto;
}


/* --------------------------------------------------
header
-------------------------------------------------- */
header {
    height: 474px;
    color: #053c66;
    position: relative;
}

header .cover {
  position: absolute;
  top: 0;
  width: 800px;
  height: 474px;
  background-color: #000;
  opacity: .5;
}

header .service_icon {
    position: absolute;
    top: 140px;
    left: 330px;
    width: 170px;
    height: 170px;
}

header .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 44px;
    padding: 10px 0 5px 20px;
    background-color: #053c66;

    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

header .main-txt {
    position: absolute;
    top: 300px;
    left: 260px;
    width: 300px;
    height: 30px;
    color: #fff;
    font-size: 22px;
}

header .sub-txt {
    position: absolute;
    top: 350px;
    left: 215px;
    width: 370px;
    background-color: #fff;
    color: #053c66;
}

/* --------------------------------------------------
about
-------------------------------------------------- */
#about {
    padding-top: 70px;
    width: 800px;
    height: 360px;
    text-align: center;
    color: #053c66;
}

#about img{
    margin: 15px 0 40px;
}

.about-txt{
    margin: 0 30px;
    text-align: left;
}

/* --------------------------------------------------
skill
-------------------------------------------------- */
#skill {
    padding-top: 70px;
    width: 800px;
    height: 420px;
    text-align: center;
    color: #fff;
    background-color: #053c66;
}

.skill-contents {
    position: relative;
    float: left;
    width: 800px;/*float を指定した時は width をつける癖をつけておたほうがよい*/
    margin-left: 40px;
}

.skill-content {
    position: relative;
    float: left;
    width: 200px;/*float を指定した時は width をつける癖をつけておたほうがよい*/
    margin: 0 20px 40px;
}

.skill-txt {
    margin-top: 20px;
    width: 180px;
    font-size: 14px;
}

/* --------------------------------------------------
work
-------------------------------------------------- */

#work {
    padding-top: 70px;
    width: 800px;
    height: 470px;
    color: #053c66;
}

.work-contents {
    position: relative;
    float: left;
    width: 800px;/*float を指定した時は width をつける癖をつけておたほうがよい*/
    margin-left: 10px;
}

.work-content {
    position: relative;
    float: left;
    width: 350px;/*float を指定した時は width をつける癖をつけておたほうがよい*/
    margin: 0 20px 40px;
    background-color: #053c66;
}

.work-line-box {
    margin: 10px 15px 0;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 18px;
}

.work-txt {
    padding: 0 15px;
    font-size: 12px;
    color: #fff;
}


/* --------------------------------------------------
contact
-------------------------------------------------- */
#contact {
    padding: 70px 0 50px 0;
    text-align: center;
    width: 800px;
    height: 200px;
    background-color: #053c66;
    color: #fff;
}

.contact-txt{
    margin-bottom: 30px;
}

/* --------------------------------------------------
footer
-------------------------------------------------- */
footer {
    padding-top: 20px;
    height: 80px;
    text-align: center;
    color: #053c66;
}