/*
    単語帳　new
*/

@charset "utf-8";

body{
     font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
     margin: 0;
     padding: 0;
}

ul {
  list-style-type: none;
  margin-left: -20px;
  padding-right: 20px;
}

li {
    line-height: 20px;
    margin: 10px 0 0;
    padding: 0 0 10px;
}

.list {
    font-size: small;
}

.list ul li {
    border-bottom: 1px dashed #ddd;
}

.clearfix:after {
  clear: both;
  display: block;
  content: '';
}

.hide {
  display: none;
}

.content {
    text-align: center;
}

.pankuzu p{
    /*height: 15px;*/
    font-size: small;
}


#wrapper {
    width: 100%;
}

.btn {
    margin-bottom: 30px;
}

.gray-btn {
    margin-right: 5px;
	background: #eee;
    /*background: -moz-linear-gradient(top,#FFF 0%,#999);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));*/
	color: #333;
	border: 1px solid #fff;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;    
	-moz-box-shadow: 0px 0px 1px rgba(000,000,000,0.5);
	-webkit-box-shadow: 0px 0px 1px rgba(000,000,000,0.5);
    font-size: small;
}

.blue-btn {
    margin-right: 5px;
	background: #4a9af0;
	color: #fff;
	border: 1px solid #4a9af0;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;    
	-moz-box-shadow: 0px 0px 1px rgba(000,000,000,0.3);
	-webkit-box-shadow: 0px 0px 1px rgba(000,000,000,0.3);
    font-size: small;
}

.lesson-btn {
    padding: 5px 7px;
}

.book-add-btn {
    padding: 5px 7px;
}

.edit-btn {
    padding: 5px 7px;
}




/*--------------------------------------------------*/

.popup {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.popup .base {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
}

.popup .popup-content {
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
    text-align: center;
    width: 200px;
    height: 270px;
    background-color: #fff;
    opacity: 1;
    color: #000;
}

/* --------------------------------------------------
popup
-------------------------------------------------- */
.popup .text-area {
    width: 200px;
    height: 190px;
    background-color: #999;
}

.popup .text {
    margin: 20px 10px 0;
}

.popup .btn-group {
    position: absolute;
	top: 230px;
    left: 25px;
    width: 150px;
}

.popup input{
    margin: 0 10px;
}


/* --------------------------------------------------
header
-------------------------------------------------- */
#header {
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    position: relative;
	margin: 0 auto;

    /*上下ボーダー*/
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.title {
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
    text-align: center;
    width: 150px;
    height: 20px;
}

/* --------------------------------------------------
wordBooks
-------------------------------------------------- */
.wordBooks {
    width: 100%;
    /*background-color: #999;*/
}

.list {
    width: 100%;
    margin-left: 0;
}

/* --------------------------------------------------
wordBook
-------------------------------------------------- */

/* --------------------------------------------------
lesson
-------------------------------------------------- */

.word-cardbox {
    width: 200px;
    height: 80px;
    background-color: #eee;
}

.meaning-cardbox {
    width: 200px;
    height: 80px;
    background-color: #ddd;
}

.top-cardBtn {
    float: right;
}